<form action="/api/tokens" method="post">
  <div>
    <label>userId:</label>
    <input type="text" name="userId" /><br/>
  </div>

  <div>
    <label>clientId:</label>
    <input type="text" name="clientId" /><br/>
  </div>

  <div>
    <input type="submit" value="Submit" />
  </div>
</form>
